<%# BEGIN %>
<p>
  <strong>Title:</strong>
  <%= @bulletin.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bulletin.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @bulletin.published %>
</p>

<%= link_to 'Back', bulletins_path %>
<%# END %>
